.student {
    background-color: rgb(113, 161, 161);
    text-align: center;
}
.register{
    text-align: center;
}
.maindata {
    text-align: center;
}
.view{
    text-align: center;
}
button {
    background-color: rgb(75, 83, 169);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}

.data{
    background-color: rgb(113, 161, 161);
}
.edit{
    background-color: rgb(113, 161, 161);
    text-align: center;
}